.header {
  width: 100%;
  /* height: 5rem; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #F49D1A;
  padding: 0 10%;
}

.header img {
  width: 100px; /* adjust the size to your liking */
  height: 100px; /* adjust the size to your liking */
  object-fit: contain; /* or object-fit: cover; or object-fit: scale-down; */
  margin-right: 1rem; /* add some margin to separate the image from the logo */
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 100%;
  max-width: 200px;
  margin-right: 1rem;
  border-radius: 50%;
}

.logo div{
  font-size: 2rem;
  background-color: white;
  color: #F49D1A;
  padding: 0 1rem;
  border-radius: 1.5rem;
  font-weight: bold;
}

.header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
}

.header nav li {
  margin-left: 3rem;
}

.header nav a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #ffffff;
}

.header nav a:hover,
.header nav a:active,
.header nav a.active {
  color: white;
}

.badge {
  background-color: #ffffff;
  color: #F49D1A;
  border-radius: 12px;
  padding: 0 1rem;
  margin-left: 0.5rem;
}


@media screen and (max-width: 1050px) {
  .header {
    padding: 0 6%;
  }

  .logo {
    font-size: 1.5rem;
  }

  .header nav li {
    margin-left: 2rem;
  }

  .header nav a {
    font-size: 1.1rem;
  }

  .badge {
    margin: 0 0 0 0.2em;
    padding: 0 0.6em;
  }
}

@media screen and (max-width: 720px) {
  .header {
    padding: 0 5%;
  }

  .logo {
    font-size: 1.1rem;
  }

  .header nav li {
    margin-left: 0.9rem;
  }
  

  .header img {
    width: 50px; /* adjust the size to your liking */
    height: 50px; /* adjust the size to your liking */
    margin-right: 0.5rem; /* add some margin to separate the image from the logo */
  }

  .header nav a {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 540px) {
  .header {
    position: relative;
  }

  .logo {
    margin: auto;
    font-size: 1.3rem;
  }
  .header nav {
    display: none;
  }
}
