.register {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f5f2ea;
  }
  .register__container {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #ffffff;
    border-radius: 2rem;
  }
  .register__textBox {
    width: 350px;
    height: 45px;
    padding-left: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #bababa;
    outline-style: none;
  }
.passwdbox {
  display: flex;
  align-items: center;
  height: 45px;
  border: solid 1px black;
  width: 350px;
  margin-bottom: 20px;
  border: 1px solid #bababa;
  border-radius: 5px;
}

.passwd__textBox{
  border:0;
  font-size: 18px;
  width: 320px;
  padding-left: 10px;
  height: 43px;
  outline-style: none;
}
span{
  padding-left: 5px;
  padding-right: 5px;
}

span:hover{
  cursor: pointer;
  user-select: none;
}

.register__btn {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
  border: none;
  color: white;
  background-color: #f49d1a;
  margin-top: 10px;
  border-radius: 20px;
  font-size: larger;
}

.register__btn:hover{
  cursor: pointer;
}

.register__google {
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  display: flex;
  color: black;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
}
.register__google > img{
  width: 40px;
  padding-right: 10px;
}
.register div {
  margin-top: 7px;
}